.page-container{
    width:60%;
    background-color: white;
    min-height:100vh;
    margin-top:3%;
    margin-left:20%;
    border-radius:15px;
}
body{
    background-color: black;
}
h1{
    text-align: center;
}