h1{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size:45px;
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h2{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size:25px;
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
}
.container{
    margin-top:10%;
    background-color: rgba(0,0,0,.5);
    color:white;
    border-radius:1%;
    text-align: justify;
    padding:5%;
    width:100%;
}
p{
    color:white;
}
.info{
    animation-delay: 1s;
}
.me{
    width: 150px;
    height: 150px;
    background-image: url("https://scontent.fsof5-1.fna.fbcdn.net/v/t1.6435-9/135188028_2121487187987481_8868934590097526567_n.jpg?_nc_cat=100&ccb=1-4&_nc_sid=09cbfe&_nc_ohc=1nW0pUuv0bQAX9wkcUb&_nc_ht=scontent.fsof5-1.fna&oh=3cdb629f49c86aa00c70ba8f25a72dbb&oe=6136B6E3");
    border-radius: 60%;
    border:4px solid gray;
    background-size: cover;
    animation-delay:2s;
    flex-grow:3;
    margin-bottom:10%;
}
.about-me{
    display:flex;
    justify-content: space-between;

}
.pic{
    margin-left:10%;
    width:20%;
}