<div class="wrapper animated zoomIn">
	
    <div class="container"> 
        <h2>So you want to contact the fit squad?</h2>
        <div class="about-me">
            <div class="intro">
                <p>The first step to become a member of this community is to actually have the desire and ambition to constantly improve yourself, without any hesitation.</p>
                <p>With that being said, you will have the oportunity to adapt and overcome your physical abilities, while training with our team and using our application.</p>
                <p>You will find below numerous ways in which you can contact me if you ever need any advice.</p>
                <p>Do not forget to regularly check for updates on diets, workout plans, some news around the gym life and so on ...</p>
                <p>PS: Always remember - "Mens sana in corpore sano"!</p>
            </div>
            <div class="pic">
                <div class="me animated rotateIn"></div>
                <div class="info animated bounceIn">	<i class="fas fa-phone"></i>: 087 7287 175 </div> 
                
                <div class="info	animated bounceIn">	<i class="fab fa-facebook-square"></i> : Valentin Kolev </div> 
                
                <div class="info animated bounceIn"><i class="fab fa-instagram"></i>: _valkol </div> 
                
                <div class="info animated bounceIn"><i class="far fa-envelope"></i>: sdms@abv.bg </div> 
                <div class="info animated bounceIn"><i class="fab fa-linkedin"></i>: Valentin Kolev </div> 
                
            </div>
        </div>
        
        
    </div>
    
    
     
    
</div>
