<div class="page-container animated fadeIn">
    <div class="form">
        <form #form="ngForm">
            <div class="title">Reset Password</div>
            <div class="subtitle">Fill the email below:</div>
            <div class="input-container ic1">
                <input type="text" id="emailSignin" name="emailSignIn" #emailSignIn="ngModel" [(ngModel)]="email" class="input" ngModel
                    required email placeholder=" ">
                <p *ngIf="emailSignIn.touched && emailSignIn.errors?.required" class="showError animated zoomIn">
                    Email is required!
                </p>
                <p *ngIf="emailSignIn.touched && emailSignIn.errors?.email" class="showError animated zoomIn">
                    Email is not valid!
                </p>
                <div class="cut"></div>
                <label for="emailSignIn" class="placeholder">Email:</label>
            </div>
            <button class="submit" (click)="resetPasswordHandler(email)">Reset Password</button>
        </form>
    </div>
</div>
