<div class="wrapper animated fadeIn">
    <h1>Workouts</h1>
    <button class="workoutDialog" (click)="openWorkoutDialog()">+Add Workout</button>
    <div class="container">
        <div class="row">
                    <div *ngFor="let workout of workoutsList">
                        <div class="workout-container">
                            <h2>{{workout.data.title}}</h2>
                            <p>Level: {{workout.data.level}}</p>
                            <p>{{workout.data.description}}</p>
                            <div class="weekly-plan" *ngIf="workout.data.monday||workout.data.tuesday||workout.data.wednesday||workout.data.thursday||workout.data.friday">
                                <div *ngIf="workout.data.monday"> 
                                    <h2>Monday</h2>
                                    <table *ngFor="let exercise of workout.data.monday">                         
                                                {{exercise}}       
                                    </table>
                                </div>
                                <div *ngIf="workout.data.monday"> 
                                    <h2>Tuesday</h2>
                                    <table *ngFor="let exercise of workout.data.monday">                         
                                                {{exercise}}       
                                    </table>
                                </div>
                                <div *ngIf="workout.data.wednesday"> 
                                    <h2>Wednesday</h2>
                                    <table *ngFor="let exercise of workout.data.wednesday">                         
                                                {{exercise}}       
                                    </table>
                                </div>
                                <div *ngIf="workout.data.monday"> 
                                    <h2>Thursday</h2>
                                    <table *ngFor="let exercise of workout.data.monday">                         
                                                {{exercise}}       
                                    </table>
                                </div>
                                <div *ngIf="workout.data.friday"> 
                                    <h2>Friday</h2>
                                    <table *ngFor="let exercise of workout.data.friday">                         
                                                {{exercise}}       
                                    </table>
                                </div>
                                <div *ngIf="workout.data.monday"> 
                                    <h2>Saturday</h2>
                                    <table *ngFor="let exercise of workout.data.monday">                         
                                                {{exercise}}       
                                    </table>
                                </div>
                                <div *ngIf="workout.data.monday"> 
                                    <h2>Sunday</h2>
                                    <table *ngFor="let exercise of workout.data.monday">                         
                                                {{exercise}}       
                                    </table>
                                </div>
                            </div>  
                            <div *ngIf="workout.data.createdBy==currentUser">
                                <button>Edit</button>
                                <button (click)="deleteWorkout(workout.id)">Delete</button>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>