<div class="wrapper animated fadeIn">
    <h1>Diets</h1>
    <button class="dietDialog" (click)="openDietDialog()">+Add Diet</button>
    <div class="container" *ngIf="dietsList.length!==0">
        <div class="row">
                    <div *ngFor="let diet of dietsList">
                        <div class="diet-container">
                            <h2>{{diet.data.title}}</h2>
                            <h3>Duration:  {{diet.data.duration}} days</h3>
                            <h3>Level:  {{diet.data.level}} </h3>
                           
                            <div class="diet-desc">
                                <h2>Description</h2>
                                <p>{{diet.data.description}}</p>
                            </div>
                            <div class="meals" *ngIf="diet.data.breakfast&&diet.data.lunch&&diet.data.dinner">
                                <div *ngIf="diet.data.breakfast" class="meal-type-container"> 
                                    <h2>Breakfast</h2>
                                    <table *ngFor="let exercise of diet.data.breakfast">                         
                                                {{exercise}}       
                                    </table>
                                </div>
                                <div *ngIf="diet.data.lunch" class="meal-type-container"> 
                                    <h2>Lunch</h2>
                                    <table *ngFor="let exercise of diet.data.lunch">                         
                                                {{exercise}}       
                                    </table>
                                </div>
                                <div *ngIf="diet.data.dinner" class="meal-type-container"> 
                                    <h2>Dinner</h2>
                                    <table *ngFor="let exercise of diet.data.dinner">                         
                                                {{exercise}}       
                                    </table>
                                </div>
                            </div>  
                            <h3 style="text-align:right;margin-top:2%;margin-bottom:2%">Created by: <i>{{diet.data.creator}}</i></h3>       
                            <div *ngIf="diet.data.createdBy==currentUser" class="actions">
                                <button class="editBtn" (click)="editDietDialog(diet.id)">Edit</button>
                                <button class="deleteBtn" (click)="deleteDiet(diet.id)">Delete</button>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>