h1{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size:45px;
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h2{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size:25px;
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
}
h3{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size:20px;
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
}
.container{
    background-color: rgba(0,0,0,.5);
    color:white;
    border-radius:1%;
    text-align: justify;
    padding:5%;
}
p{
    color:white;
}
.diet-container{
    margin-bottom:15%;
    text-align: center;
    border:3px solid white;
    border-radius:3px;
    padding:2%;
}
.meals{
    border-top:3px solid white;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
ul{
    list-style-type:circle;
}
.meal-heading{
    text-align: left;
}
.dietDialog {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    margin-left:37%;
    width: 25%;
}
.dietDialog:hover{
    background-color: rgb(95, 181, 235);
    transition: 1s;
}
textarea{
    resize: none;
}
.item-container-row{
    position:relative;

}
.editBtn{
    width:100px;
    background-color: rgb(109, 70, 109);
    color:white;
    font-family: 'Russo One', sans-serif;
    margin-right:3px;
}
.editBtn:hover{
    background-color: rgb(218, 120, 218);
    transition:1s;
}
.deleteBtn{
    width:100px;
    background-color: red;
    color:white;
    font-family: 'Russo One', sans-serif;
}
.deleteBtn:hover{
    background-color: rgb(226, 98, 98);
    transition:1s;
}
.diet-desc{
    background-color: rgba(255, 255, 255, 0.897);
    border:3px solid black;
    outline: 3px solid white;
    padding:10%;
    text-align: justify;
    margin-bottom:5%;
}
.diet-desc>p{
    color:black;
}
.diet-desc>h2{
    color:black;
}
.actions{
    margin-top:5%;
}
.meal-type-container{
    border:2px solid white;
    padding:5%;
}