<div class="wrapper animated fadeIn">
    <h1>Diets</h1>
    <div class="container">
        <div class="row">
            <table>
                <tr>
                    <th>Title</th>
                    <th>Duration</th>
                    <th>Level</th>
                    <th>Description</th>
                </tr>
                    <tr *ngFor="let diet of dietsList">
                        <td>{{diet.data.title}}</td>
                        <td>{{diet.data.duration}}</td>
                        <td>{{diet.data.level}}</td>
                        <td>{{diet.data.description}}</td>         
                        <td>
                            <button>Preview</button>
                        </td>
                        <td *ngIf="diet.data.createdBy==currentUser">
                            <button>Edit</button>
                        </td>
                        <td *ngIf="diet.data.createdBy==currentUser">
                            <button (click)="deleteDiet(diet.id)">Delete</button>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
</div>