h1{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size:45px;
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h2{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size:25px;
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.container{
    background-color: rgba(0,0,0,.5);
    color:white;
    border-radius:1%;
    text-align: justify;
    padding:5%;
    width:100%;
}
img{
    width:400px;
    height:400px;
}

.left-side{
    display:flex;
}

.macro-desc{
    text-align: justify;
    padding:10%;
    font-size:20px;
}
.food-examples{
    display:flex;
}
.food-example-pic-container{
    margin-top:10%;
    margin-right:5%;
    animation-delay: 1s;
}
.food-example-pic{
    width:130px;
    height:130px;
    border-radius: 60%;
}
.img-graph{
    margin-top:5%;
}