input{
    border: 1px solid black !important;
    border-radius:5px !important ;
    padding-left:10px !important;
    width:100% !important;
    background-color: white !important;
}
form{
    padding: 10%;
    background-color: rgba(0, 0, 0, 0.808);
    color:white;
}
textarea{
    width:100% !important;
    border: 1px solid black !important;
    border-radius:5px !important ;
    padding-left:10px !important;
    background-color:white;
    height:250px;
    margin-bottom:2%;
}
.input-container{
    position:relative;
    width:240px;
    margin-left:-4%;
}
tr{
    background-color: white;
}
.mat-form-field-appearance-fill{
    background-color: white;
}
.add-item{
    border-radius:30%;
    background-color: blue;
    color:white;
    position:absolute;
    left:92%;
    top:15px;
}
.add-item:hover{
    background-color: blueviolet;
}
.add-item:active{
    background-color:red;
}
.workoutItems{
    width:50%;
    border:1px solid black;
    margin-left:5%;
    text-align: center;
}
.workout-flex{
    display:flex;
    margin-left:30%;
    margin-bottom:2%;
}
.workout-table{
    width:400px;
    margin-left:5%;
    color:black;
}
.workout-flex-form{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.select-level{
    width:250px;
}
.select-flex{
    display:flex;
    justify-content: space-around;
    margin-top:5%;
    margin-left:8%;
    margin-bottom:5%;
}
.select-item{
    margin-right:8%;
}
.item-container-row{
    position:relative;

}
.remove-item{
    border-radius:30%;
    background-color: red;
    color:white;
    position:absolute;
    left:80%;
    top:15px;
}

.cancelBtn{
    width:100px;
    background-color: red;
    color:white;
    font-family: 'Russo One', sans-serif;
    margin-right:3px;
}
.cancelBtn:hover{
    background-color: rgb(179, 76, 76);
    transition: 1s;

}
.submitBtn{
    width:100px;
    background-color: #08d;
    color:white;
    font-family: 'Russo One', sans-serif;
}
.submitBtn:hover{
    background-color: rgb(95, 181, 235);
    transition: 1s;
}
.workout-input{
    width:190px;
    background-color: white;
}
