input{
    border: 2px solid white !important;
    border-radius:5px !important ;
    padding-left:10px !important;
    width:70% !important;
    color:white;
}
textarea{
    width:71%;
    border: 1px solid black !important;
    border-radius:5px !important ;
    padding-left:10px !important;
}
.input-container{
    position:relative;
    width:300px;
}
.add-item{
    border-radius:30%;
    background-color: blue;
    color:white;
    position:absolute;
    left:60%;
    top:15px;
}
.add-item:hover{
    background-color: blueviolet;
}
.add-item:active{
    background-color:red;
}
.workoutItems{
    width:50%;
    border:1px solid black;
    margin-left:5%;
    text-align: center;
}
.workout-flex{
    display:flex;
    margin-left:30%;
    margin-bottom:2%;
}
.workout-table{
    width:400px;
}
.workout-flex-form{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.select-level{
    text-align: center;
    width:70%;
    background-color: white;
}

.wrapper{
    background-color:rgba(0,0,0,.5);
    text-align: center;
    width:60%;
    margin-left:18%;
    color:white;

}
h1{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size:45px;
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h2{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size:25px;
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.calculateButton{
    width:50%;
    margin-top:5%;
    font-size:30px;
    background: rgb(101,81,86);
    background: linear-gradient(90deg, rgba(101,81,86,1) 7%, rgba(121,9,105,1) 98%);
    border-radius: 3px;
    color:white;
    font-family: 'Russo One';
}