<div class="container" class="animated fadeIn">
    <h1>Welcome to the fit squad!</h1>
    <h2>Ready for the real thrill?</h2>
    <div class="home-content">
        <h3>Who are we?</h3>
        <img src="../../assets/home-landing.jpg">
        <p>
            Fit-Factory is the place where we recruit motivated people in order to utilize their personal traits.
            Our ideology consists of patience, ambition and a strive to success.
        </p>
        <h3>What can we offer?</h3>
        <h3>Professional Mentorship Gym Program</h3>
        <iframe  src="https://www.youtube.com/embed/TPYVkZg4pFk?start=935&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>Personal Training Sessions</h3>
        <iframe src="https://www.youtube.com/embed/UItWltVZZmE?start=735&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>Fully-customizable dietary plans</h3>
        <iframe  src="https://www.youtube.com/embed/Gmh_xMMJ2Pw?start=80&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>