<div class="container" class="animated fadeIn">
    <h1>Welcome to the fit squad!</h1>
    <h2>Ready for the real thrill?</h2>
    <div class="home-content">
        <h3>Who are we?</h3>
        <p>
            Fit-Factory is the place where we recruit motivated people in order to utilize their personal traits.
            Our ideology consists of patience, ambition and a strive to success.
            Whatever your goal is, we will help you achieve it rightaway!
        </p>
        <img src="../../assets/home-landing.jpg">
        <h3>What can we offer?</h3>
        <h3>Professional Mentorship Gym Program</h3>
        <p>Mentorship contributes to the development of these future leaders. Mentorship is a two-way 
            street. The mentor must be willing to share knowledge, training, and experience in a trusted and 
            respected atmosphere. In turn, the individual receiving the mentorship must trust and respect the 
            mentor, while being open and receptive to the process. Caring is the core of mentorship. A 
            mentor may care as a parent cares. We must remember that mentorship means taking some
            risks, to include allowing our mentee to make mistakes during their training. Mentors risk 
            disappointment, failure, and rejection. 
            We need to clarify their goals and help develop long-term career strategies toward advancement. 
            We should also aid in developing their short-term career plans. We must share our knowledge 
            and instruct them in technical, leadership and management skills. 
            Mentoring is a tool that organizations can use to nurture and grow their people. It can be an
            informal practice or a formal program. Mentors demonstrate, explain and model. Mentee’s 
            observe, question, and explore. The following assumptions form the foundation for a solid 
            mentoring program.</p>
        <iframe  src="https://www.youtube.com/embed/TPYVkZg4pFk?start=935&autoplay=1&mute=1&vq=720" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>Personal Training Sessions</h3>
        <p>
            We’re not just a gym, we’re your training partner. Whether you’re training for an event, want to improve your sport or you just want to get fit fast - whatever you’re working towards, we’re in! You set the goals, we’ll help you smash them.

You'll find a selection of our most popular workout plans below, but if you need something more bespoke our fitness experts can work with you to create a personal training plan, to help you get the most out of your gym time and hit those targets quicker, come and speak to us in club.
        </p>
        <iframe src="https://www.youtube.com/embed/UItWltVZZmE?start=735&autoplay=1&mute=1&vq=720" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>Fully-customizable dietary plans</h3>
        <p>You want to give your family the best, but time is in short supply and preparing a healthy meal has become a chore. Too often take out or frozen dinners have to do. Is there a way to combine healthy eating with convenience?

            Yes! New methods of cooking and easy to prepare staples can change your eating habits and lead to a better e…
            
            Another day, another dinner to prepare. Are you having a difficult time finding easy to prepare meals that can satisfy your growing family?
            
            You want to give your family the best, but time is in short supply and preparing a healthy meal has become a chore. Too often take out or frozen dinners have to do. Is there a way to combine healthy eating with convenience?
            
            Yes! New methods of cooking and easy to prepare staples can change your eating habits and lead to a better eating style for your family. According to the ‘Kid’s Health’ Program created by the Nemours Foundation, family meals are an important part of developing healthy habits in your kids. Eating as a family will encourage your kids to eat healthy foods like whole grains and vegetables.</p>
        <iframe src="https://www.youtube.com/embed/TNn7og2B3t0?start=105&autoplay=1&mute=1&vq=720" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>